* {
  font-family: 'Archivo Narrow';
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

/* Add button */
.fixed-action-btn {
  z-index: 99;
}

/* Add credit button */
.add_credit_btn {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  outline: none;
  background: rgb(74, 164, 238);
}

/* Not enough credit model box */
.wrapper-model-box {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.507);
}

.wrapper-model-box .content {
  color: white;
  box-shadow: 3px 3px #fad3d3;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 600px;
  height: 200px;
  background-color: #fc7f7f;
  font-family: 'Raleway';
  font-family: 'Raleway';

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-model-box .content button{
  font-size: 13px;
  font-family: 'Archivo Narrow';
  color: white;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 2px;
  padding: 4px 10px 4px 10px;
}

.wallet_icon {
  font-size: 50px;
}

/* Delete survey model box */
.wrapper-delete-box {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.507);
}

.wrapper-delete-box .content {
  color: white;
  box-shadow: 3px 3px #fad3d3;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 600px;
  height: 200px;
  background-color: #fc7f7f;
  font-family: 'Raleway';

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cancel_btn {
  font-size: 13px;
  font-family: 'Archivo Narrow';
  color: white;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  margin-right: 50px;
  border-radius: 2px;
  padding: 4px 10px 4px 10px;
}

.delete_btn {
  font-size: 13px;
  font-family: 'Archivo Narrow';
  color: #ff6161;
  background-color: white;
  border: none;
  cursor: pointer;
  margin-left: 50px;
  padding: 4px 10px 4px 10px;
  border-radius: 2px;

  transition: all 0.3s;
}

.delete_btn:focus {
  background-color: white;
}

.cancel_btn:focus {
  background-color: transparent;
}

.delete_btn:hover {
  background-color: #fc7f7f;
  color: white;
}

.error_icon {
  font-size: 50px;
}


/* Survey Form */
/* label focus color */
.wrapper_form_field input[type=text]:focus {
  color: #000 !important;
}

/* label underline focus color */
.wrapper_form_field input[type=text]:focus {
  border-bottom: 1px solid rgb(128, 128, 128) !important;
  box-shadow: 0 1px 0 0 rgb(95, 95, 95) !important;
}

.wrapper_form_field input[type=text]::placeholder {
  color: rgb(250, 123, 123) !important;
}

.wrapper_form_field input[type=text] {
  font-family: 'Archivo Narrow';
  margin-bottom: 2px;
  font-size: 14px;
}